$main-color: #9e9d24;
$secondary-color: #d2ce56;
$dark-main-color: #6c6f00;
$dark-font: #525252;
$light-font: #fff;
$title-font: 'Roboto Mono', monospace;
$text-font: 'Roboto', sans-serif;
$auxiliar-title: 'Dosis', sans-serif;
$auxiliar2-title: 'Anton', sans-serif;

html {
    font-size: 10px;
}
body {
  background: #fff;  /* fallback for old browsers */
  font-family: $text-font;
  position: relative;
  // background: -webkit-linear-gradient(to right, #B5AC49, #3CA55C);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #B5AC49, #3CA55C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-row {
  height: 100vh;
  background-image: url("https://static.pexels.com/photos/227675/pexels-photo-227675.jpeg");
  background-size: cover;
}

.location-row {
  text-align: center;
  padding: 40px 100px;
  position: relative;
  // height: 800px;
}

.location-row h2 {
  font-weight: 100;
  margin: 0px 0px 40px 0px;
  color: $dark-font;
}

.map-first-container {
  background-color: #fff;
  height: 400px;
  width: 400px;
  padding: 4px;
  transform: rotate(45deg);
  position: absolute;
  top: 200px;
  left: 10%;
}

.map-second-container {
  background: linear-gradient(to right, #B5AC49, #3CA55C);
  width: 100%;
  height: 100%;
  padding: 15px;
  border-radius: 4px;
}

.map-second-container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 4px;
}

.subtitle-row {
 color: $dark-font;
 font-weight: 400;
 font-family: $title-font;
 font-size: 3rem;
 line-height: 3.5rem;
}

.paragraph-row {
 color: $dark-font;
 font-weight: 100;
 font-size: 1.8rem;
 line-height: 2.5rem;
 margin: 20px 0px 0px 0px;
}

.text-wrap {
  width: 400px;
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 55%;
}

.high-word {
  background: linear-gradient(to right, #B5AC49, #3CA55C);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.img-view-bg {
  background-image: url("../images/asuncion.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  filter: brightness(1);
  height: 300px;
  position: relative;
}

.view-row {
  position: relative;
}

.planos-row {
  padding: 50px 50px;
  background-color: #fff;
  text-align: center;
  position: relative;
  top: 120%;
}

.planos-row h2 {
  font-weight: 100;
  margin: 0px 0px 40px 0px;
  color: $dark-font;
}

.carousel .carousel-item>img {
  width: 100%;
}

.carousel .indicators .indicator-item.active {
  background: linear-gradient(to right, #B5AC49, #3CA55C);
}

.carousel .indicators .indicator-item {
  background: linear-gradient(to right, #B5AC49, #3CA55C);
}

.carousel {
  float: right;
  width: 50%;
}

.planos-description {
  display: flex;
  flex-direction: row;
}

.text-planos h3 {
  font-weight: 400;
  color: $dark-font;
  font-size: 2rem;
  margin: 0px 0px 20px 0px;
}

.text-planos p {
  font-weight: 100;
  color: $dark-font;
  font-size: 1.3rem;
  margin: 0px 0px 20px 0px;
}

.text-planos hr {
  border: 1px solid rgba(181,172,73,0.2);
    margin: 0px 0px 20px 0px;
}

.design-row {
  position: relative;
  padding: 50px;
  height: 800px;
}

.first-image-container {
  width: 200px;
  height: 450px;
  left: 80%;
  top: 68%;
  background: linear-gradient(to right, #B5AC49, #3CA55C);
  position: absolute;
}

.first-image-container img {
  width: 370%;
  position: absolute;
  top: 30px;
  left: -300%;
  border-radius: 4px;
}

.second-image-container {
  width: 300px;
  height: 300px;
  left: 10%;
  top: 138%;
  background: linear-gradient(to top, #B5AC49, #3CA55C);
  position: absolute;
}

.second-image-container img {
  width: 200%;
  position: absolute;
  top: -20%;
  left: 20%;
  border-radius: 4px;
}

.back-text-local {
  font-size: 7rem;
  position: absolute;
  z-index: -1;
  font-family: $title-font;
  color: $dark-font;
  left: -60%;
  top: -15%;
  opacity: 0.05;
}

.back-text-diseño {
  font-size: 7rem;
  position: absolute;
  z-index: -1;
  font-family: $title-font;
  color: $dark-font;
  left: 10%;
  top: 117%;
  opacity: 0.05;
}

.info-row {
  padding: 50px;
  text-align: center;
  position: relative;
  padding-top: 55%;
}

.info-number {
  background: linear-gradient(to right, #B5AC49, #3CA55C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: $title-font;
  font-size: 9rem;
  margin: 0px;
  line-height: 9rem;
}

.info-text {
  color: $dark-font;
  font-family: $title-font;
  font-size: 3.5rem;
  margin: 0px;
  line-height: 3.5rem;
}

.common-areas {
  background-image: url("https://static.pexels.com/photos/122244/pexels-photo-122244.jpeg");
  height: 700px;
  background-size: cover;
  position: relative;
  padding: 100px 0px 0px 0px;
}

.common-areas::after {
  height: 700px;
    display: block;
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    background: linear-gradient(to right, #B5AC49, #3CA55C);
    content: '';
    opacity: 0.8;
    overflow: hidden;
}

.icon-container {
  border: 3px solid #fff;
  border-radius: 360px;
  padding: 15px;
  position: relative;
  z-index: 2;
  display: inline-block;
  margin: 0px 0px 0px 24%;
}

.icon-container img {
  width: 75px;
}

.icon-text{
  position: relative;
  font-family: $title-font;
  z-index: 2;
  font-size: 2.5rem;
  color: $light-font;
  font-weight: 400;
  text-align: center;
  margin: 15px 0px 0px 0px;
}

.extra-info-row {
  position: relative;
  height: 750px;
}

.image-extra-info {
  position: absolute;
  width: 600px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  top: -100px;
  left: 10%;
}

.contact-form {
  width: 400px;
}

.form-wrapper {
  position: absolute;
  right: 80px;
  top: 200px;
  margin: 0px 0px 50px 0px;
}

.form-wrapper h3 {
  font-family: $title-font;
  background: linear-gradient(to right, #B5AC49, #3CA55C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form-wrapper p {
  font-weight: 100;
  font-size: 1.5rem;
}

.back-text-contact {
  font-size: 7rem;
  position: absolute;
  z-index: -1;
  font-family: $title-font;
  color: $dark-font;
  left: 0%;
  top: -20%;
  opacity: 0.05;
}


input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  font-size: 1.3rem;
  font-weight: 100;
  height: 3.5rem;
}

input:not([type]).validate+label, input[type=text]:not(.browser-default).validate+label, input[type=password]:not(.browser-default).validate+label, input[type=email]:not(.browser-default).validate+label, input[type=url]:not(.browser-default).validate+label, input[type=time]:not(.browser-default).validate+label, input[type=date]:not(.browser-default).validate+label, input[type=datetime]:not(.browser-default).validate+label, input[type=datetime-local]:not(.browser-default).validate+label, input[type=tel]:not(.browser-default).validate+label, input[type=number]:not(.browser-default).validate+label, input[type=search]:not(.browser-default).validate+label, textarea.materialize-textarea.validate+label {
  font-size: 1.3rem;
  font-weight: 100;
}

[type="checkbox"]+label {
  font-size: 1.3rem;
  font-weight: 100;
}

[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
  border: 1px solid #5a5a5a;
}

.btn-send {
  font-family: $title-font;
  font-size: 1.5rem;
  background: linear-gradient(to right, #B5AC49, #3CA55C);
}

.landscape {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  background-image: url("../images/asuncion2.jpg");
  width: 100%;
}

.landscape::after {
    height: 500px;
    display: block;
    position: absolute;
    bottom: 0%;
    width: 100%;
    left: 0%;
    background: #000;;
    content: '';
    opacity: 0.3;
    overflow: hidden;
}

.point-landscape {
  position: absolute;
  border: 2px solid #fff;
  padding: 25px 25px;
  z-index: 2;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 4px;
}

.hr-point-landscape {
  position: absolute;
  border: 1px solid #fff;
  z-index: 2;
  transform: rotate(90deg);
}

.point-landscape span {
  font-size: 1.5rem;
  font-weight: 300;
  color: $light-font;
}

.point-one-landscape {
  top: 100px;
  left: 25px;
}

.hr-point-one-landscape {
  left: 60px;
  top: 210px;
  width: 90px;
}

.point-two-landscape {
  top: 140px;
  left: 245px;
}

.hr-point-two-landscape {
  left: 275px;
  top: 230px;
  width: 50px;
}

.point-three-landscape {
  top: 60px;
  left: 405px;
}

.hr-point-three-landscape {
  left: 445px;
  top: 170px;
  width: 80px;
}

.point-four-landscape {
  top: 20px;
  left: 605px;
}

.hr-point-four-landscape {
  left: 630px;
  top: 150px;
  width: 120px;
}

.point-five-landscape {
  top: 190px;
  left: 805px;
}

.hr-point-five-landscape {
  left: 865px;
  top: 270px;
  width: 30px;
}

.point-six-landscape {
  top: 75px;
  left: 1005px;
}

.hr-point-six-landscape {
  left: 1080px;
  top: 150px;
  width: 30px;
}
